@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@800&display=swap");

::-webkit-scrollbar {
  display: none;
}

html {
  box-sizing: border-box;
}

body {
  box-sizing: inherit;
  margin: 0;
}

.d-none {
  display: none;
}
