/*
*
* Boiler Plate stuff 
*
*********************************/
:root {
  --movie-width: 16vw;
  --arrow-width: 50px;
}

body {
  background-color: #141414;
  font-family: "Heebo", sans-serif;
}

.container {
  position: relative;
}

.logo {
  color: red;
  font-size: 4rem;
  text-align: center;
}

/*
*
* THE SLIDER CONTAINER
*
*********************************/
.slider {
  margin-top: 150px;
  height: 120%;
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
  position: relative;
}

/*
*
* SLIDER INDICATORS
*
*********************************/
.container-indicators {
  width: 100px;
  position: absolute;
  right: 0;
  top: -40px;
}
.indicator {
  width: 15px;
  height: 2px;
  background-color: grey;
  display: inline-block;
}
.indicator.active {
  background-color: white;
}

/*
*
* MOVIE ELEMENTS!
*
*********************************/
.movie {
  width: var(--movie-width);
  height: 200px;
  display: inline-block;
  position: relative;
  color: white;
  padding: 0 2px;
}

.movie:nth-of-type(1) {
  margin-left: var(--arrow-width);
}

.movie img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

/*
*
* BUTTONS
*
*********************************/
.btn-nav {
  width: var(--arrow-width);
  height: 100%;
  border-radius: 5px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  outline: none;
  border: none;
  color: white;
  z-index: 9999;
}

#moveLeft {
  left: 0;
}

#moveRight {
  right: 0;
  top: 0;
}
